<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js test page</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- everything in this div is controled by the vue instance-->
    <div id="vue-one-app"> 
        <input type="text" placeholder="firstname..." v-model="firstname">
        <input type="text" placeholder="lastname..." v-model="lastname">
        <p>{{fullname}}</p>
        <p>{{print}}</p>
    </div>
    <div id="vue-two-app">
        <p>{{print}}</p>
        <button @click="changeData"> Click me soft :)</button>
    </div>

    <script src="app.js"></script>
</body>
</html>