<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js test page</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- everything in this div is controled by the vue instance-->
    <div id="app"> 
        <!-- name is defined here as an element of names -->
        <p v-for="name in names">{{ name }}</p>
        <!-- the key "index" thorws errors-->
        <template v-for="(person, index) in persons" :key="index">
            <div v-for="(value, key) in person">
                <p>here is <strong>{{value}}</strong> </p>
                <p>this {{key}}</p>
            </div>
        </template>
    </div>

    <script src="app.js"></script>
</body>
</html>